{% extends 'home.html' %} <!--상속을 받는다.-->

{% block content %}
<div class="row">
    <div>
        <h1>게시글 상세조회</h1>
        <p><b>제목</b> {{post.title}} </p>
        <p><b>내용</b> {{post.contents}}</p>
        <span><b>작성자</b><td> {{post.author.name}}</td></span> &nbsp;&nbsp;
        
        <div>
            <hr>
            <span><b>작성일</b> : {{post.created_at}}</span>&nbsp;&nbsp;&nbsp;&nbsp;
            <span><b>수정일</b> : {{post.updated_at}}</span>
        </div>
    </div>
    <div>
        <a href="/post/{{post.id}}/update" style="text-decoration:none" class="btn btn-primary">수정</a>
        <a href="/posts" style="text-decoration:none" class="btn btn-secondary">목록</a>
    </div>
</div>
    {% endblock %}


