{% extends 'home.html' %}
{% block content %}
<form autocapitalize="on" method="POST">
    {% csrf_token %}
    <h1>회원 정보 수정</h1>
    <ul>
        <div class="form-group">이 름 : <input type="text" class='form-control' name="user_name" value="{{author.name}}">
        </div>
        <div class="form-group">이메일 : <input type="email" class='form-control' name="user_email"
                value=" {{author.email}}"></div>
        <div class="form-group">패스워드 : <input type="password" class='form-control' name="user_password"
                value="{{author.password}}" maxlength="8" id=input_password>
    </ul>
    <div>
        <input type="submit" value="수정" class="btn btn-primary">
        <input type="reset" value="reset" class="btn btn-secondary">
        <a href="/author/{{author.id}}" style="text-decoration:none" class="btn btn-secondary">취소</a>
    </div>
</form>
{% endblock %}